In [1]:
# over fitting under fitting
## over fitting 
#### bias is a simplifying the assumptions made by the model to make target functions easier to approximate
#### variance is the amount that the estimate of the target functions will change the given different traning data.

##### Over fitting
* when ever you have low bias and high variance
* Good performance on the training data poor generalization to other(test) data
##### under fitting
* Poor performance on the traing data and poor generalization to other data(test data)
* when ever you have high bias and low variance

###### L1 regression -->MSE = (1/n) * Σ(actual – prediction)2
where:
- Σ – a fancy symbol that means “sum”
- n – sample size
- actual – the actual data value
- prediction – the predicted data value

In [3]:
###### Ridge regression adds " square magnitude " of coefficient penalty term to the loss functions
###### Lasso regression(Least Absolute Shrinkage and Selection Operator):It is used over regression methods for a more accurate prediction. This model uses shrinkage. Shrinkage is where data values are shrunk towards a central point as the mean.

In [5]:
######### Prevention of over fitting and under fitting
# Cross Validation: Cross validation is a powerful prevention measure against overfiting
# train with more datar 
# remote features
# EArly stopping
# Regulization 
# Ensembling

In [6]:
# import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
m=100
x=np.random.rand(m,1)
y=0.5*x**2+x+2+np.random.randn(m,1) ### equation as ax^2+bx+c

In [14]:
print(x,"x values")
print(y,"y values")
print(m)

[[0.88333617]
 [0.14801718]
 [0.27304976]
 [0.00152951]
 [0.22734537]
 [0.6898812 ]
 [0.86647918]
 [0.54852902]
 [0.22491819]
 [0.19335605]
 [0.49816756]
 [0.81089636]
 [0.72070019]
 [0.3681455 ]
 [0.12730351]
 [0.93319038]
 [0.2007224 ]
 [0.89763843]
 [0.06247831]
 [0.21681104]
 [0.1173065 ]
 [0.47167514]
 [0.37187984]
 [0.6862416 ]
 [0.22036599]
 [0.84960905]
 [0.12751896]
 [0.33744304]
 [0.29077681]
 [0.14501429]
 [0.13901321]
 [0.74519352]
 [0.47160201]
 [0.77790254]
 [0.59998655]
 [0.99431803]
 [0.01351298]
 [0.22613127]
 [0.8807048 ]
 [0.39548474]
 [0.20689839]
 [0.80955272]
 [0.59516596]
 [0.32002649]
 [0.29879988]
 [0.03636388]
 [0.69362543]
 [0.40439096]
 [0.56204919]
 [0.31576149]
 [0.41414888]
 [0.60762842]
 [0.0234633 ]
 [0.14828441]
 [0.27579221]
 [0.50671716]
 [0.06835256]
 [0.25994515]
 [0.45066634]
 [0.36004107]
 [0.74347114]
 [0.91855977]
 [0.68647083]
 [0.88275465]
 [0.84600002]
 [0.49489608]
 [0.87326748]
 [0.89928303]
 [0.74230499]
 [0.78954525]
 [0.13615698]
 [0.23436269]
 [0.22892026]
 [0.19601723]
 [0.06664876]
 [0.15845961]
 [0.50942862]
 [0.6947085 ]
 [0.81291466]
 [0.72673447]
 [0.88558013]
 [0.79986145]
 [0.4452803 ]
 [0.49258471]
 [0.56162867]
 [0.33299007]
 [0.65034847]
 [0.51282837]
 [0.09225035]
 [0.01147379]
 [0.58250906]
 [0.77071785]
 [0.95527913]
 [0.64373267]
 [0.61381295]
 [0.85293506]
 [0.46658171]
 [0.96712784]
 [0.30714273]
 [0.1838966 ]] x values
[[2.7439344 ]
 [1.45920923]
 [3.39239787]
 [2.8511952 ]
 [2.35853457]
 [2.24507297]
 [2.76953596]
 [3.16883738]
 [2.33554696]
 [2.836938  ]
 [1.48838721]
 [2.40475174]
 [2.37981557]
 [2.90367745]
 [4.28274715]
 [4.58727658]
 [1.640334  ]
 [3.9969195 ]
 [2.75964139]
 [2.99865815]
 [1.18408007]
 [4.05410889]
 [0.72823387]
 [3.93161737]
 [2.38663899]
 [1.81179982]
 [1.82294014]
 [3.23228879]
 [3.95798603]
 [0.97852402]
 [2.3460647 ]
 [4.18593141]
 [3.32492269]
 [3.06154399]
 [0.97548807]
 [3.2309887 ]
 [2.97885298]
 [1.7149746 ]
 [5.76713423]
 [1.9210767 ]
 [3.07362484]
 [2.87561117]
 [3.06886519]
 [2.37840989]
 [0.5754277 ]
 [1.79319852]
 [3.67523562]
 [2.48399438]
 [2.36418921]
 [3.62456346]
 [1.38933698]
 [2.82818968]
 [1.26324957]
 [2.18259066]
 [1.12930937]
 [1.48074287]
 [1.519207  ]
 [3.36978041]
 [2.02619218]
 [0.76779551]
 [5.18273659]
 [4.10267325]
 [4.38146857]
 [3.35885555]
 [3.12027236]
 [1.44825518]
 [3.87539268]
 [4.36289517]
 [3.87639754]
 [3.26872678]
 [1.26875224]
 [0.77077711]
 [1.64819409]
 [2.24371761]
 [2.19581796]
 [1.55020645]
 [0.73227618]
 [3.79346864]
 [2.99701241]
 [4.26373835]
 [3.1074354 ]
 [3.42192941]
 [3.72048089]
 [0.14281493]
 [2.28750709]
 [1.96613893]
 [2.04571274]
 [3.48151304]
 [2.23191023]
 [3.71339976]
 [5.59353275]
 [3.02681889]
 [2.66335127]
 [3.86721935]
 [3.5299558 ]
 [4.29229892]
 [2.47621933]
 [3.43737437]
 [2.87969739]
 [3.72679647]] y values
100

In [16]:
x.shape

(100, 1)

In [17]:
from sklearn.linear_model import Ridge
rd=Ridge()

In [18]:
x[1]

array([0.14801718])

In [19]:
np.ndim(x)

2

In [20]:
# fit the model
rd.fit(x,y)

Ridge()

In [21]:
rd.predict(x[[1]])

array([[2.20157759]])

In [25]:
from sklearn import datasets

In [37]:
data=datasets.load_boston()
data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [42]:
df=pd.DataFrame(data.data,columns = data.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [44]:
df.shape

(506, 13)

In [45]:
data.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [46]:
df['LandPrice']=data.target

In [48]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,LandPrice
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [58]:
df.isnull().sum()

CRIM         0
ZN           0
INDUS        0
CHAS         0
NOX          0
RM           0
AGE          0
DIS          0
RAD          0
TAX          0
PTRATIO      0
B            0
LSTAT        0
LandPrice    0
dtype: int64

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CRIM       506 non-null    float64
 1   ZN         506 non-null    float64
 2   INDUS      506 non-null    float64
 3   CHAS       506 non-null    float64
 4   NOX        506 non-null    float64
 5   RM         506 non-null    float64
 6   AGE        506 non-null    float64
 7   DIS        506 non-null    float64
 8   RAD        506 non-null    float64
 9   TAX        506 non-null    float64
 10  PTRATIO    506 non-null    float64
 11  B          506 non-null    float64
 12  LSTAT      506 non-null    float64
 13  LandPrice  506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [60]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,LandPrice
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [75]:
# seperate the input and target features
x = df.iloc[:,0:-1]
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [79]:
y=df["LandPrice"]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: LandPrice, Length: 506, dtype: float64

In [80]:
from sklearn.linear_model import LinearRegression
lin_alg=LinearRegression()

In [83]:
# train the model using fit
lin_alg.fit(x,y)

LinearRegression()

In [92]:
#split the data into training data and testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [96]:
print("LR train score",lin_alg.score(x_train,y_train))

LR train score 0.7470310386818004

In [98]:
print("LR test score",lin_alg.score(x_test,y_test))

LR test score 0.7225427185572685